.header {
    display: block;
    height: 50px;
    line-height: 50px;
}

.header li {
    float: left;
}

.header li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

#logo {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 100px;
    height: 100px;
}

.header {
    background-color: aquamarine;
}

#banner {
    text-align: center;
    font-weight: bolder;
}

#seasonal-favorites {
    text-align: center;
    font-weight: bold;
}